<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDbVnnfkmhWAWIkPNeIBUZxJ6y1AhYvzIU</string>
	<key>GCM_SENDER_ID</key>
	<string>1010513584747</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.backmybracket.app</string>
	<key>PROJECT_ID</key>
	<string>back-my-bracket</string>
	<key>STORAGE_BUCKET</key>
	<string>back-my-bracket.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1010513584747:ios:e70d751d338a062b3b472e</string>
</dict>
</plist>